<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lotus.conteos_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/asd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/asd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".download_farm_screen"
            android:exported="true" />
        <activity android:name=".pdfViewer" />
        <activity android:name=".fenologiaCompletaVisual" />
        <activity
            android:name=".ActivityDetalles"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VisualFenoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash_activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quienesomos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistorialMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>